body{
        /* background-image:src="img/global.jpg"; */
        background-image: url('img/global.jpg');

    }

    h5{
        margin-left: 6em;
        margin-right: 6em;
    }

    
    .logi{
        color: black;
    }